SCIM Client - Renaming a group sends a malformed SCIM Patch request

When I rename a KeyCloak from "Engineering" to "EPD", SCIM for Keycloak sends a PATCH request with this payload
```json
{
  "schemas": [
    "urn:ietf:params:scim:api:messages:2.0:PatchOp"
  ],
  "Operations": [
    {
      "op": "replace",
      "value": "{\"schemas\":[\"urn:ietf:params:scim:schemas:core:2.0:Group\"],\"displayName\":\"EPD\"}"
    }
  ]
}
```
According to [RFC 7644 section 3.5.2](https://datatracker.ietf.org/doc/html/rfc7644#section-3.5.2), I would expect the value to be JSON without the `schemas` field e.g.
```json
{
  "schemas": [
    "urn:ietf:params:scim:api:messages:2.0:PatchOp"
  ],
  "Operations": [
    {
      "op": "replace",
      "value": {
        "displayName": "EPD",
      }
    }
  ]
}
```

the reason is found in the sub-chapter:
```
The result of the add operation depends upon what the target location
   indicated by "path" references:

   o  If omitted, the target location is assumed to be the resource
      itself.  The "value" parameter contains a set of attributes to be
      added to the resource.
```
this applies also to replace operations. So the schemas attribute was simply added because it is the base-attribute of the resource. As long as it does not cause any problems, I will keep the schemas-attribute in the request. 

Ah, I missed that about the `schemas` attribute but the `value` should be a JSON object instead of a JSON-formatted string, shouldn't it? 🤔 

so far it seems that most providers support both.
If I get a report that it is not working like this I will add a configuration option to add it one way or another

Got it, thank you for your quick response!